<div [className]="SelectedTheme" style="height: 100%">
  <!-- <lcu-lazy-element [config]="LazyConfig" [context]="{State:{}}"></lcu-lazy-element> -->

  <ng-container *ngIf="!ShowMap">
    <lcu-data-flow-manager-element></lcu-data-flow-manager-element>
  </ng-container>

  <ng-container *ngIf="ShowMap">
    <lcu-data-flow-map-element></lcu-data-flow-map-element>
  </ng-container>

  <button (click)="Toggle()" style="position: absolute; bottom: 0; right: 0;">Toggle</button>

  <img class="bg-image" [src]="BackgroundImage" alt="">
</div>
